*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headingAddCase{
    margin-top: 5vh;
    margin-left:16% ;
    color: rgb(59, 59, 59);
    margin-bottom: 10vh;
}
.headingAddCase h2{
    font-weight: 100;
    font-size: 400%;
}
input{
    width: 60vw;
    margin-left:16% ;
    height: 7vh;
    font-size:x-large;
    padding-left: 1%;
    border-radius: 1vh;
    border: 1px solid black;
    box-shadow: 10px 10px 10px gray;
}
.search{
    position: relative;
        background-color: #a7c102;
        border-radius: 5px;
        box-shadow: #b1cb04 0px 4px 0px 0px;
        padding: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        box-sizing: border-box;
        width: 154px;
        height: 49px;
        color: #fff;
        border: none;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        overflow: hidden;
}
.search::before {
    content: "";
    background-color: #d5eb40;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
.search:hover::before {
    width: 100%;
  }
