.heading {
  font-size: 300%;
  font-weight: 100;
}

.Container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left {
  flex: 0 0 45%;
  padding-right: 20px;
}

.right {
  flex: 0 0 45%;
}

p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .left,
  .right {
    flex: 0 0 100%;
  }
}
