*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-my{
    background-color:#49bec7;
    display: flex;
    justify-content: space-evenly;
    height: 7vh;
    width: 100vw;
    align-items: center;
    color: white;
    font-size: large;
}

.left-navbar{
    display: flex;

}
.right-navbar{
    margin-left: 20vw;
}
