*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    font-size: 500%;
    font-weight: 100;
    color: rgb(59, 59, 59);
}
.text h2{
    font-weight: 100;
    color: rgb(59, 59, 59);
    font-size: 200%;
}
.text p{
    color: rgb(59, 59, 59);
}
.dashboard{
    margin-top: 10vh;
    display: flex;
    align-items: center;
    margin-left: 15vw;
}
.addCaseBtn{
    margin-left: 10vw;
     
        position: relative;
        background-color: #a7c102;
        border-radius: 5px;
        box-shadow: #b1cb04 0px 4px 0px 0px;
        padding: 15px;
        background-repeat: no-repeat;
        cursor: pointer;
        box-sizing: border-box;
        width: 154px;
        height: 49px;
        color: #fff;
        border: none;
        font-size: 20px;
        transition: all 0.3s ease-in-out;
        z-index: 1;
        overflow: hidden;
      
}
.addCaseBtn::before {
    content: "";
    background-color: #d5eb40;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 700ms ease-in-out;
    display: inline-block;
  }
  
  .addCaseBtn:hover::before {
    width: 100%;
  }
.icon{
    height: 10vh;
    width: 10vw;
}