.card-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #99eff4;
}

.heading1 h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 500%;
  font-weight: 100;
  color: gray;
}

.heading1 p {
  color: gray;
  text-align: center;
  margin-bottom: 5%;
}

.card1 {
  display: flex;
  justify-content: space-evenly;
}

.card1-item {
  width: 25%;
  height: 30vh;
  padding: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  color: gray;
}
.card1-item p {
  margin-top: 10px;
}

.card1-item:hover p {
    visibility: hidden;
  }
  
  .card1-item:hover::after {
    content: attr(data-hover-text);
    visibility: visible;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    width: auto; 
    max-width: 80%; 
  }
  